<div class="flex flex-row align-items-center justify-content-center fill-h">
  <div class="p-card chatbox shadow-3 flex flex-row align-items-stretch">
    <div class="chatbox_contacts flex flex-column border-right-1 border-gray-300">
      <div
        class="chatbox_contacts_header flex flex-row justify-content-between align-items-center p-2 border-bottom-1 border-gray-300">
        <div class="flex flex-row align-items-center">
          <p-avatar size="large" label="{{user.mail|label}}" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}"
          shape="circle"></p-avatar>
          <div>{{user.mail}}</div>
        </div>
        <a class="p-2 primary options" (click)="menu.toggle($event)" pRipple><i
            class="pi pi-ellipsis-v"></i></a>
      </div>
      <div class="chatbox_contacts_search p-fluid p-2 border-bottom-1 border-gray-300">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" class="p-inputtext-sm" pInputText placeholder="Search" />
        </span>
      </div>
      <div *ngIf="contacts.length" class="chatbox_contacts_body contact_list align-self-stretch">
        <div *ngFor="let contact of contacts" pRipple (click)="setCurrentChatUser(contact)" #contact
          class="primary contact_list_item p-2 flex flex-row align-items-center border-bottom-1 border-gray-300">
          <div class="contact_list_item_avatar ">
            <p-avatar label="{{contact.name|label}}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          </div>
          <div
            class="contact_list_item_message flex flex-grow-1 flex-column justify-content-between align-self-stretch">
            <div class="contact_list_item_message_author flex flex-row justify-content-between">
              <div class="contact_list_item_message_author_name  text-xl font-medium">
                {{contact.name}}
              </div>
              <div class="contact_list_item_message_author_time text-xs font-normal">
                {{contact.lastMessage?.receivedDate?.toLocaleString()}}
              </div>
            </div>
            <div class="contact_list_item_message_content flex flex-row justify-content-between">
              <div class="contact_list_item_message_content_text  text-sm font-normal">
                {{contact.lastMessage?.message}}
              </div>
              <div *ngIf="contact.unread>0" class="contact_list_item_message_content_unread">
                <p-badge [value]="contact.unread+''"></p-badge>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!contacts.length" class="chatbox_contacts_body h-full w-full contact_list align-self-stretch flex flex-row justify-content-center align-items-center">
        <h3>No Contacts found...</h3>
      </div>
    </div>
    <div class="chatbox_messages flex flex-column" *ngIf="currentChatUser">
      <div class="chatbox_messages_header border-bottom-1 border-gray-300 flex flex-row p-2">
        <p-avatar size="large" label="{{currentChatUser.mail|label}}" styleClass="mr-2" shape="circle"></p-avatar>
        <div class="chatbox_messages_header_user flex flex-column justify-content-around align-items-start">
          <div class="chatbox_messages_header_user_name text-xl text-medium">
            {{currentChatUser.mail}}
          </div>
          <div class="chatbox_messages_header_user_status flex flex-row">
            <i class="pi pi-circle-fill" [class.text-red-500]="!currentChatUser.isOnline" [class.text-green-500]="currentChatUser.isOnline"></i>&nbsp;
            <span *ngIf="currentChatUser.isOnline">Online</span>
            <span *ngIf="!currentChatUser.isOnline">Offline</span>
          </div>
        </div>
      </div>
      <div class="chatbox_messages_body flex flex-column flex-grow-1 overflow-hidden overflow-y-auto">
        <div class="chatbox_messages_body_ballons flex flex-column   justify-content-end flex-grow-1">
          <div *ngFor="let msg of messages" [class.bg-blue-500]="msg.sender?.id!==user.id" [class.align-self-start]="msg.sender?.id!==user.id" [class.align-self-end]="msg.sender?.id===user.id" [class.text-white]="msg.sender?.id!==user.id" [class.align-items-start]="msg.sender?.id!==user.id" [class.align-items-end]="msg.sender?.id===user.id"
            class="chatbox_messages_body_ballons_user p-card  shadow-3  p-2 m-2 inline-flex flex-column ">
            <div class="chatbox_messages_body_ballons_user_name flex flex-row justify-content-between align-items-end text-xs text-bold pb-2">
              <span class="text-sm mr-2">{{msg.sender?.mail}}</span>
              <span>{{msg.readDate?.toLocaleString()||msg.receivedDate?.toLocaleString()||msg.sentDate?.toLocaleString()}}</span>&nbsp;&nbsp;&nbsp;
              <i class="pi" [class.pi-check]="msg.sent&&(!msg.read && !msg.received)" [class.text-green-500]="msg.read && msg.received" [class.pi-check-circle]="msg.read || msg.received"></i>
            </div>
            <div class="chatbox_messages_body_ballons_user_text text-sm text-base" [class.text-left]="msg.sender?.id!==user.id" [class.text-right]="msg.sender?.id==user.id">
              {{msg.message}}
            </div>
          </div>
        </div>
      </div>
      <div class="chatbox_messages_body_input flex flex-row border-top-1 border-gray-300 p-fluid p-2">
        <div class="p-inputgroup">
          <input type="text" class="p-inputtext-sm" #message (keyup.enter)="sendMessage(message.value)"  pInputText placeholder="Your Message here">
          <button type="button" class="p-button-sm" icon="pi pi-send" iconPos="left" pButton pRipple
            label="Send" (click)="sendMessage(message.value)"></button>
        </div>
      </div>
    </div>
    <div class="chatbox_messages flex flex-row justify-content-center align-items-center" *ngIf="!currentChatUser">
      <h3>Select Contacts to start conversation here...</h3>
    </div>
  </div>
</div>

<p-dialog header="Edit Contact" id="contact" [(visible)]="showEditContact" (onHide)="resetSelectedContact()">
  <div class="flex flex-column p-fluid" style="width: 20rem;">
    <div class="field">
      <label for="username" class="block">E-Mail</label>
      <p-autoComplete [showEmptyMessage]="true" emptyMessage="No records found." field="mail" (onSelect)="onSelected($event)"  [suggestions]="searchResultUsers" (completeMethod)="search($event.query)"></p-autoComplete>
    </div>
    <div *ngIf="selectedContact.userId" class="field">
      <label for="username" class="block">Name</label>
      <input type="text" pInputText [disabled]="false" [(ngModel)]="selectedContact.name">
    </div>
    <button pButton icon="pi pi-save" iconPos="left" type="button" (click)="EditContact()" label="Save Contact" [disabled]="!selectedContact.userId||!selectedContact.name"></button>
  </div>
</p-dialog>

<p-dialog header="Delete Contact" id="contact" [(visible)]="showDeleteContact" (onHide)="resetSelectedContact()">
  <div class="flex flex-column p-fluid" style="width: 20rem;">
    <div class="field">
      <label for="username" class="block">E-Mail</label>
      <p-autoComplete [showEmptyMessage]="true" emptyMessage="No records found." field="mail" (onSelect)="onSelected($event)"  [suggestions]="searchResultUsers" (completeMethod)="search($event.query)"></p-autoComplete>
    </div>
    <div *ngIf="selectedContact.userId" class="field">
      <label for="username" class="block">Name</label>
      <input type="text" pInputText [disabled]="true" [(ngModel)]="selectedContact.name">
    </div>
    <button pButton icon="pi pi-save" iconPos="left" type="button" (click)="deleteContact()" label="Delete Contact" [disabled]="!selectedContact.userId||!selectedContact.name"></button>
  </div>
</p-dialog>

<p-dialog header="Add Contact" id="contact" [(visible)]="showAddContact" (onHide)="resetSelectedContact()">
  <div class="flex flex-column p-fluid" style="width: 20rem;">
    <div class="field">
      <label for="username" class="block">E-Mail</label>
      <p-autoComplete [showEmptyMessage]="true" emptyMessage="No records found." field="mail" (onSelect)="onSelected($event)"  [suggestions]="searchResultUsers" (completeMethod)="search($event.query)"></p-autoComplete>
    </div>
    <div *ngIf="selectedContact.userId" class="field">
      <label for="username" class="block">Name</label>
      <input type="text" pInputText [(ngModel)]="selectedContact.name">
    </div>
    <button pButton icon="pi pi-save" iconPos="left" type="button" (click)="addContact()" label="Add Contact" [disabled]="!selectedContact.userId||!selectedContact.name"></button>
  </div>
</p-dialog>

<p-menu #menu [popup]="true" [model]="contactsMenuItems"></p-menu>
