@import "./assets/styles/fonts";
@import "./assets/styles/customTheme";
@import "./assets/styles/variables";
@import "./assets/styles/dimensions";

*{
  padding: 0%;
  margin: 0%;
  font-family: Roboto;
}

body{
  width: 100vw;
  height: 100vh;
}

.p-ripple.primary .p-ink {
  background: $primary-color;
}
